<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>latte-framework</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>401</error-code>
		<location>/securitycheck</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>public ressources</web-resource-name>
			<url-pattern>/css/*</url-pattern>
			<url-pattern>/fonts/*</url-pattern>
			<url-pattern>/js/*</url-pattern>
			<url-pattern>/api/*</url-pattern>
			<url-pattern>/securitycheck</url-pattern>
			<url-pattern>/login.html</url-pattern>
			<url-pattern>/error.html</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>app</web-resource-name>
			<url-pattern>/api/v1/administration/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>LatteUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>latte</realm-name>
	</login-config>

	<session-config>
		<session-timeout>720</session-timeout>
		<cookie-config>
			<name>JSESSIONID</name>
			<path>/</path>
		</cookie-config>
	</session-config>

</web-app>