
/* -------------------------------------------------------------------- */
/* sidebar, vertical nav												*/
/* -------------------------------------------------------------------- */
 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.submenu {
    background-color: #f0f0f0;
}

.submenu > a {
    padding: 12px 10px 12px 20px !important;
}

/* -------------------------------------------------------------------- */
/* content area															*/
/* -------------------------------------------------------------------- */

.content-row {
    margin-right: 0;
    margin-left: 0;
}

.jumbotron {
    padding: 5px 0 15px 0;
}

@media screen and (min-width: 768px) {
	.jumbotron {
		padding-left: 0 !important;
	}
}

/* -------------------------------------------------------------------- */
/* mesage box															*/
/* -------------------------------------------------------------------- */

#message-box { 
	color: green;
}

#message-box.error { 
	color: red;
}

/* -------------------------------------------------------------------- */
/* form / validation glyphicons...										*/
/* -------------------------------------------------------------------- */

form span {
	visibility: hidden;
}

