/* -------------------------------------------------------------------- */
/* sidebar, vertical nav												*/
/* -------------------------------------------------------------------- */
@media ( min-width : 768px) {

	.col-sm-3 {
	    max-width: 250px !important;
	}
	    
	#sidebar .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	#sidebar .navbar ul {
		float: none;
	}
	#sidebar .navbar ul:not {
		display: block;
	}
	#sidebar .navbar li {
		float: none;
		display: block;
	}
	#sidebar .navbar li.submenu>a {
		padding: 15px 20px !important;
	}
}

#sidebar .navbar li.submenu {
	background-color: #f0f0f0;
}

/* -------------------------------------------------------------------- */
/* content area															*/
/* -------------------------------------------------------------------- */
.content-row {
	margin-right: 0;
	margin-left: 0;
}

.jumbotron {
	padding: 5px 0 15px 0;
}

@media screen and (min-width: 768px) {
	.jumbotron {
		padding-left: 0 !important;
	}
}

/* -------------------------------------------------------------------- */
/* form / validation glyphicons...										*/
/* -------------------------------------------------------------------- */
form span {
	visibility: hidden;
}